*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}


#carResult{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: rgba(0, 0, 0, 0.53);
    color: chartreuse;
}

 body{
    background-color: gray;
 }

 .carlist{
    width: 288px;
    height:250px ;
    background-color: black;
    padding: 9px;
    margin: 11px;
   border: 22px;
   box-shadow: 2px 2px 22px red;


 }

 .nav{
    display: flex;
    flex-direction: row;
 }